
.en-powered-by {
    width: 100%;
    background-color: #015cd9;
    font-size: 10px;
    font-family: BoomBox2, serif;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.en-powered-by a,
.en-powered-by a:any-link{
    all: unset;
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-family: BoomBox2, serif !important;
    font-size: 9px !important;
}

.en-powered-by a span:nth-child(1) {
    all: unset;
    font-family: Arial, serif !important;
    font-size: 10px !important;
    margin-bottom: 3px;
    text-transform: lowercase;
}
